/* Анимация появления (fade in up) */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация исчезания (fade out down) */
@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
/* Анимация появления (fade in down) */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация исчезания (fade out up) */
@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url("../assets/fonts/sf/SF-Pro-Rounded-Semibold.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url("../assets/fonts/sf/SFPRODISPLAYREGULAR.OTF") format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("../assets/fonts/sf/SFPRODISPLAYMEDIUM.OTF") format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("../assets/fonts/sf/SFPRODISPLAYBOLD.OTF") format('opentype');
    font-weight: 700;
    font-style: normal;
}
html, body {
    background-color: #F5F5F8;
    font-family: "SF Pro Display", sans-serif;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
.cal-img {
    width: auto;
    max-width: 414px;
}
.h1 {
    font-weight: 600;
    line-height: 33.41px;
    font-size: 28px;
}
.h3 {
    line-height: 21.48px;
    font-size: 18px;
    font-weight: 600;
}
.subtext {
    font-size: 17px;
    font-weight: 500;
    line-height: 20.29px;
    color: rgba(0, 0, 0, 0.57);
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn {
    background-color: rgba(250, 74, 12, 1);
    padding: 25px 64px 25px 64px;
    color: #F6F6F9;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    max-width: 314px!important;
    height: 100%;
    max-height: 70px;
}
.btn_small {
    background-color: rgba(250, 74, 12, 1);
    padding: 5px 8px 5px 8px;
    color: #F6F6F9;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    max-width: 62px!important;
    height: 100%;
    max-height: 70px;
}
.btn_smaller {
    color: #afafaf;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    max-width: 62px!important;
    margin-left: 1rem;
}
.btn:hover, .btn_small:hover {
    cursor: pointer;
}
.h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    text-align: left;
    margin: 21px 0 8px 0;
}
.small-subtext {
    font-size: 11px;
    text-align: left;
    line-height: 13.13px;
    margin: 0 0 21px 0;
}

.dots-img {
    width: 100%;
    max-width: 20px;
}
.container-content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 80vw;
    background: #FFF;
    box-shadow: 1px 10px 40px 1px rgba(0, 0, 0, 0.03);
}
.card-body {
    border-radius: 20px;
    width: 80vw;
    background: #FFF;
    z-index: 1;
    box-shadow: 1px 10px 40px 1px rgba(0, 0, 0, 0.03);
}
.card-body:first-child {
    z-index: 9999;
}
.food-photo {
    width: 69px;
    height: 69px;
    object-fit: contain;
}
.low-opacity {
    opacity: 57%;
    padding-top: 1.4rem;
}
.card-heading {
    font-family: "SF Pro Rounded", sans-serif;
    margin: 0;
    text-align: left;
}
.orange-text {
    font-family: "SF Pro Rounded", sans-serif;
    text-align: left;
    color: #fa4a0c;
}
.text-col {
    text-align: left;
}
.content-section {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: start;
}
.overlay-bottom {
    background: linear-gradient(180deg, rgba(245, 245, 248, 0.00) 0%, #F5F5F8 100%);
    height: 16px;
    flex-shrink: 0;
    z-index: 999999;
    position: fixed;
    bottom: 100px;
}
.overlay-top {
    background: linear-gradient(0deg, rgba(245, 245, 248, 0.00) 0%, #F5F5F8 100%);
    height: 16px;
    flex-shrink: 0;
    z-index: 999999;
    position: fixed;
    top: 170px;
}
.container-header {
    width: 100%;
    max-width: 80vw;
}
.meal-time {
    text-align: left;
}
.arrow-left {
    width: 100%;
    max-width: 24px;
}
.arrow-right {
    width: 100%;
    max-width: 24px;
}
.big-graph {
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    height: 300px;
}
.content-section.details {
    padding-top: 0;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-auto {
    padding: 0!important;
}
.menu-button {
    background: transparent;
    border: none;
    box-shadow: none;
}
.menu-button:hover {
    cursor: pointer;
}

/* Скрыть выпадающее меню по умолчанию */
.dropdown-content {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    left: 75.59px!important;
    min-width: 160px;
    max-width: 290px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.20);
    z-index: 99999;
    border-radius: 10px;
}
/* Примените анимацию появления при классе "fade-in" */
.fade-in {
    animation: fadeInUp 0.3s ease-in-out; /* Примените анимацию появления */
    display: block;
}

/* Примените анимацию исчезания при классе "fade-out" */
.fade-out {
    animation: fadeOutDown 0.3s ease-in-out; /* Примените анимацию исчезания */
    display: block; /* Изменено с "none" на "block" */
}
.menu-button.active + .dropdown-content {
    display: block;
}

/* Стили для пунктов меню (опционально) */
.dropdown-content a {
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: #333;
}
.table {
    font-size: 15px;
    width: 100%;
    max-width: 92vw;
}
.t-header {
    border-bottom: 1px solid black;
}
.cat-name {
    opacity: 57%;
}
.cat {
    text-align: left;
}
.quantity {
    font-weight: 600;
}
.goal {
    text-align: right;
}
.green {
    color: rgba(24, 128, 39, 1);
}
.yellow {
    color: rgba(254, 153, 94, 1);
}
.edit-row {
    opacity: 57%;
    font-size: 15px;
}
.input-number {
    width: 100%;
    max-width: 3rem;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    border-bottom: none;
}
.number-col {
    border-bottom: 1px solid black;
    max-width: 4rem;
}
.calories {
    font-size: 15px;
    gap: 1rem;
}
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #fff;
    color: rgba(250, 74, 12, 1);
    border-radius: 30px;
    height: 100%;
    min-height: 46px;
    max-height: 46px;
    font-size: 15px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.03);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    font-size: 15px;
    color: rgba(250, 74, 12, 1);
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
}


/* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(250, 74, 12, 1);
    color: white;
}

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    width: 90vw;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.subtext-small {
    font-size: 11px;
    opacity: 57%;
    text-align: left;
    margin: 0;
}
.subtext-col {
    justify-content: start!important;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.proteins {
    background-color: rgba(45, 0, 30, 1);
}
.fats {
    background-color: rgba(24, 128, 39, 1);
}
.carbohydrates {
    background-color: rgba(254, 153, 94, 1);
}

.range-slider {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.slider-label {
    font-weight: bold;
}
#slider-range1, #slider-range2, #slider-range3.ui-widget.ui-widget-content {
    border: none;
    height: 6px;
    background-color: rgba(217, 217, 217, 1);
}
#slider-range1 .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(45, 0, 30, 1);
    border: 2px solid rgba(45, 0, 30, 1);
    cursor: pointer;
}
#slider-range1 .ui-widget-header {
    background-color: rgba(45, 0, 30, 1);
}
#slider-range2 .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(24, 128, 39, 1);
    border: 2px solid rgba(24, 128, 39, 1);
    cursor: pointer;
}
#slider-range2 .ui-widget-header {
    background-color: rgba(24, 128, 39, 1);
}
#slider-range3 .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(254, 153, 94, 1);
    border: 2px solid rgba(254, 153, 94, 1);
    cursor: pointer;
}
#slider-range3 .ui-widget-header {
    background-color: rgba(254, 153, 94, 1);
}

.food-photo-big {
    width: 314px;
    height: 256px;
    object-fit: contain;
    border-radius: 10px;
}
.ingredient-image {
    width: 67px;
    height: 44px;
    object-fit: contain;
}
.timing {
    text-align: right;
    width: 100%;
    padding-right: 3rem!important;
    font-size: 11px;
    opacity: 57%;
    margin-top: 0.7rem!important;
}
.area-container {
    padding-left: 3rem!important;
}

.photo-col {
    padding: 0;
}
.quantity-item {
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-align: right;
    padding: 0!important;
}
.quantity-col {
    padding: 0!important;
}
.product-name {
    font-weight: 500;
}
.ul {
    text-align: left;
    font-size: 11px;
    margin-top: 0.5rem!important;
    padding: 0!important;
}
li {
    list-style: none;
    padding: 0!important;
    margin-top: 0.5rem;
}
li:last-child {
    margin-top: 1rem;
}
.receipt-step {
    margin: 0;
}
.step {
    margin-top: 1rem!important;
}
.selection {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    border-radius: 0!important;
    grid-template-areas: "select" !important;
    align-items: center!important;
    width: 100%;
    max-width: 125px!important;
    font-size: 0.8rem;
    text-align: right;
}
select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 15px;
    padding: 0.675em 2em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.selection::before,
.selection::after {
    --size: 0.3rem;
    content: "1";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.selection::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.selection::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
    grid-area: select;
    justify-self: end;
}
a {
    text-decoration: none;
    color: black;
}